.bikes__title{
  margin: 0;
}
@media screen and (max-width:$md1){
  .bikes__title{
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width:$md2){
  .bikes__title{
    margin: 0 0 40px 0;
  }
}
