.quote__work{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  color: var(--light-black);
  margin: 0;
}
@media screen and (max-width:500px){
  .quote__work{
    font-size: 10px;
    line-height: 16px;
  }
}
