.quote__text{
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
  margin: 0 0 260px 0;
}
@media screen and (max-width:$md1) {
  .quote__text{
    font-size: 23px;
    line-height: 29px;
    margin: 0 0 80px 0;
  }
}
@media screen and (max-width:$md2){
  .quote__text{
    margin: 40px 0 40px 0;
  }
}
