.roads__button{
  border: none;
  background-color: #24B47E;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 180px;
  height: 50px;
  padding: 10px 10px;
  color: #FFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  grid-column: 1;
}
@media (hover:hover){
  .roads__button:hover .roads__button-bar{
    animation: bar 2s;
    animation-fill-mode:forwards;
  }
}
@media screen and (max-width:768px){
  .roads__button{
    margin: 0 auto;
    min-width: 300px;
  }
}
@media screen and (max-width:425px){
  .roads__button{
    min-width: 100%;
  }
}
