.cards__name{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 22px 0 0 0;
}
@media screen and (max-width:$md2){
  .cards__name{
    font-size: 14px;
    line-height: 18px;
    margin: 3px 0 0 0;
    color: #151515;
  }
}
